* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4c504c;
    background-image: url("./src/assets/images/background.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.container {
    display: flex;
    padding: 1vh;
    position: relative;
}

.start_mod {
    position: absolute;
    background-color: antiquewhite;
}

.pause {
    display: block;
    position: absolute;
    background-color: antiquewhite;
    padding: 30px;
    font-weight: bold;
}

.pause_not_active {
    display: none;
}

.play_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score_section {
    margin: 0 5vh 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    background: rgba(6, 10, 19, 0.7);
    padding: 0.5vh;
    display: grid;
    /*gap: 1px;*/
}

.main_field {
    grid-template-columns: repeat(10, auto);
}

.extra_field {
    grid-template-columns: repeat(6, auto);
}

.score {
    width: 100%;
    margin-top: 15px;
    background: rgba(15, 16, 19, 1);
}

.buttons_block {
    position: relative;
    margin-top: 15px;
    height: 100%;
    width: 100%;
}

.button {
    position: absolute;
    padding: 10px 0;
    font-weight: bold;
    width: 70px;
}

.btn_rotate {
    top: 15px;
    left: calc(50% - 35px);
}

.btn_left {
    left: 0;
    top: calc(50% - 19px);
}

.btn_right {
    right: 0;
    top: calc(50% - 19px);
}

.btn_down {
    left: calc(50% - 35px);
    top: calc(50% - 19px);
}

.btn_pause {
    bottom: 15px;
    left: calc(50% - 35px);
}

.text {
    color: lightgray;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 20px;
}

.info_number {
    font-size: 25px;
}

.field > div {
    height: min(4vh, 7vw);
    width: min(4vh, 7vw);
    background-color: rgba(15, 16, 19, 1);
    /*border-radius: 0.5vh;*/
}

.block {
    box-sizing: border-box;
}

.fullRow {
    background-color: black !important;
}

.I.block {
    background: #00ffff;
    border: 5px solid #00ffff;
    border-top-color: #b3ffff;
    border-left-color: #00cccc;
    border-right-color: #00cccc;
    border-bottom-color: #004c4d;
}

.O.block {
    background: #ffff00;
    border: 5px solid #ffff00;
    border-top-color: #ffffb3;
    border-left-color: #cccc00;
    border-right-color: #cccc00;
    border-bottom-color: #4c4d00;
}

.T.block {
    background: #aa00ff;
    border: 5px solid #aa00ff;
    border-top-color: #e6b3ff;
    border-left-color: #8800cc;
    border-right-color: #8800cc;
    border-bottom-color: #33004d;
}

.J.block {
    background: #0000ff;
    border: 5px solid #0000ff;
    border-top-color: #b3b3ff;
    border-left-color: #0000cc;
    border-right-color: #0000cc;
    border-bottom-color: #00004d;
}

.L.block {
    background: #ffaa00;
    border: 5px solid #ffaa00;
    border-top-color: #ffe6b3;
    border-left-color: #cc8800;
    border-right-color: #cc8800;
    border-bottom-color: #4d3300;
}

.S.block {
    background: #00ff00;
    border: 5px solid #00ff00;
    border-top-color: #b3ffb3;
    border-left-color: #00cc00;
    border-right-color: #00cc00;
    border-bottom-color: #004d00;
}

.Z.block {
    background: #ff0000;
    border: 5px solid #ff0000;
    border-top-color: #ffb3b3;
    border-left-color: #cc0000;
    border-right-color: #cc0000;
    border-bottom-color: #4d0000;
}
