* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
}

.game-name {
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

.container {
    display: flex;
    gap: 20px;
    position: relative;
}

.game-container {
    gap: 2px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    position: relative
}

.start_mod {
    position: absolute;
    background-color: antiquewhite;
}

.pause-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5rem;
    text-align: center;
    display: none;
}

.score-container {
    margin: 0 5vh 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field {
    background: rgba(6, 10, 19, 0.7);
    padding: 0.5vh;
    display: grid;
    /*gap: 1px;*/
}

.main_field {
    display: grid;
    grid-template-columns: repeat(10, auto);
    gap: 2px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}

.extra_field {
    gap: 2px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    grid-template-columns: repeat(6, auto);
}

.stats {
    width: 100%;
    text-align: left;
}

.stats > p {
    margin: 1em 0;
    font-size: 1.2rem;
}

.buttons_block {
    position: relative;
    margin-top: 15px;
    height: 30%;
    width: 100%;
}

.controls {
    position: relative;
    margin-top: 15px;
    height: 30%;
    width: 100%;
}

.control-button {
    padding: 10px 0;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    position: absolute;
    width: 60px;
}

.control-button:hover {
    background-color: #0056b3;
}

.btn_rotate {
    top: 15px;
    left: calc(50% - 30px);
}

.btn_left {
    left: 0;
    top: calc(50% - 19px);
}

.btn_right {
    right: 0;
    top: calc(50% - 19px);
}

.btn_down {
    left: calc(50% - 30px);
    top: calc(50% - 19px);
}

.btn_pause {
    bottom: 15px;
    left: calc(50% - 30px);
}

.text {
    color: lightgray;
    padding: 10px;
    text-align: center;
}

.title {
    font-size: 20px;
}

.info_number {
    font-size: 25px;
}

.field > div {
    height: min(3vh, 6vw);
    width: min(3vh, 6vw);
    background-color: #444;
}

.block {
    box-sizing: border-box;
}

.fullRow {
    background-color: black !important;
}

.I.block {
    background: #00ffff;
    border: 5px solid #00cccc;
    border-top-color: #b3ffff;
    border-bottom-color: #004c4d;
}

.O.block {
    background: #ffff00;
    border: 5px solid #cccc00;
    border-top-color: #ffffb3;
    border-bottom-color: #4c4d00;
}

.T.block {
    background: #aa00ff;
    border: 5px solid #8800cc;
    border-top-color: #e6b3ff;
    border-bottom-color: #33004d;
}

.J.block {
    background: #0000ff;
    border: 5px solid #0000cc;
    border-top-color: #b3b3ff;
    border-bottom-color: #00004d;
}

.L.block {
    background: #ffaa00;
    border: 5px solid #cc8800;
    border-top-color: #ffe6b3;
    border-bottom-color: #4d3300;
}

.S.block {
    background: #00ff00;
    border: 5px solid #00cc00;
    border-top-color: #b3ffb3;
    border-bottom-color: #004d00;
}

.Z.block {
    background: #ff0000;
    border: 5px solid #cc0000;
    border-top-color: #ffb3b3;
    border-bottom-color: #4d0000;
}

.dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.dialog-game-over {
    display: none;
}

.dialog p {
    margin: 10px 0;
}

.dialog-button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
}

.start-button:hover {
    background-color: #0056b3;
}

.footer {
    padding: 40px 0;
}

.footer a {
    color: #6bb5f7;
    text-decoration: none;
}